<form #stockForm="ngForm" (ngSubmit)="onSubmit(stockForm)">
  <input id="stockInput" name="stockSymbol" ngModel />
  <button id="trackBtn" type="submit">Track Stock</button>
</form>

<div *ngFor="let stock of stockCards">
  <h1>{{ stock.name }}</h1>
  <h3>({{ stock.symbol }}) {{ stock.trendIcon }}</h3>
  <p>Changed today: {{ stock.changeToday | percent: '0.1-4' }}</p>
  <p>Current price: {{ stock.currentPrice | currency }}</p>
  <p>Opening price: {{ stock.openingPrice | currency }}</p>
  <p>High price: {{ stock.highPrice | currency }}</p>
  <button (click)="removeStockCard(stock.symbol)">X</button>
  <br />
  <a routerLink="/sentiment/{{ stock.symbol }}" routerLinkActive="active"
    >Sentiment</a
  >
</div>
