<form #stockForm="ngForm" (ngSubmit)="onSubmit(stockForm)">
  <input id="stockInput" name="stockSymbol" ngModel />
  <button id="trackBtn" type="submit">Track Stock</button>
  <span *ngIf="errorMsg">{{ errorMsg }}</span>
  <span *ngIf="isLoading">Loading...</span>
</form>

<div *ngFor="let stock of stockCards">
  <h1>{{ stock.name }}</h1>
  <h3>({{ stock.symbol }}) {{ stock.trendIcon }}</h3>
  <p>Changed today: {{ stock.changeToday | percent: '0.1-4' }}</p>
  <p>Current price: {{ stock.currentPrice | currency }}</p>
  <p>Opening price: {{ stock.openingPrice | currency }}</p>
  <p>High price: {{ stock.highPrice | currency }}</p>
  <button
    [attr.id]="'remove' + stock.symbol"
    (click)="removeStockCard(stock.symbol)"
  >
    X
  </button>
  <br />
  <a
    [attr.id]="'sentiment' + stock.symbol"
    routerLink="/sentiment/{{ stock.symbol }}"
    routerLinkActive="active"
    >See Sentiment Details</a
  >
</div>
