<div class="search__wrapper">
  <h3 class="title">
    Enter the symbol of a stock to track (i.e. AAPL, TSLA, GOOGL)
  </h3>
  <div class="search__container">
    <form #stockForm="ngForm" (ngSubmit)="onSubmit(stockForm)">
      <input
        id="stockInput"
        name="stockSymbol"
        placeholder="Enter symbol"
        type="text"
        maxlength="5"
        ngModel
      />
      <button id="trackBtn" type="submit">Track Stock</button>
    </form>
  </div>
  <div class="search__container__message" *ngIf="isLoading">Loading...</div>
  <div class="search__container__message" *ngIf="errorMsg">{{ errorMsg }}</div>
</div>

<div class="card" *ngFor="let stock of stockCards">
  <h1>{{ stock.name }} ({{ stock.symbol }})</h1>
  <h3
    class="trend-icon"
    [innerHtml]="stock.trendIcon"
    [class.red]="stock.changeToday < 0"
    [class.green]="stock.changeToday > 0"
  ></h3>
  <p><b>Change today:</b> {{ stock.changeToday | percent: '0.1-4' }}</p>
  <p><b>Current price:</b> {{ stock.currentPrice | currency }}</p>
  <p><b>Opening price:</b> {{ stock.openingPrice | currency }}</p>
  <p><b>High price:</b> {{ stock.highPrice | currency }}</p>
  <button
    class="close"
    [attr.id]="'remove' + stock.symbol"
    (click)="removeStockCard(stock.symbol)"
  >
    X
  </button>
  <button class="sentiment">
    <a
      [attr.id]="'sentiment' + stock.symbol"
      routerLink="/sentiment/{{ stock.symbol }}"
      routerLinkActive="active"
      >See sentiment details</a
    >
  </button>
</div>
