<div class="card" *ngIf="sentimentCard">
  <h1>{{ sentimentCard.name }} ({{ sentimentCard.symbol }})</h1>
  <h3>
    {{ dateRange.fromDate | date: 'MMMM y' }} -
    {{ dateRange.toDate | date: 'MMMM y' }}
  </h3>
  <div class="monthly">
    <div *ngIf="sentimentCard.monthly.length === 0">No Data</div>
    <div *ngFor="let month of sentimentCard.monthly">
      <h3>{{ month.fullDate | date: 'MMMM y' }}</h3>
      <p>
        <b>Change:</b> {{ month.change }}
        <span
          class="trend-icon"
          [class.red]="month.change < 0"
          [class.green]="month.change > 0"
          [innerHtml]="month.trendIcon"
        ></span>
      </p>
      <p><b>MSPR:</b> {{ month.mspr }}</p>
    </div>
  </div>
</div>

<div class="card" *ngIf="isLoading">Loading...</div>

<div class="card" *ngIf="errorMsg">
  {{ errorMsg }}
</div>

<button>
  <a id="backBtn" routerLink="/" routerLinkActive="active"
    >Back to list of stocks</a
  >
</button>
