<div class="card" *ngIf="sentimentCard">
  <h1>{{ sentimentCard.name }} ({{ sentimentCard.symbol }})</h1>
  <div class="monthly">
    <div *ngFor="let month of sentimentCard.monthly">
      <p>{{ getMonthName(month.month) }} {{ month.year }}</p>
      <p>
        <b>Change:</b> {{ month.change }}
        <span
          class="trend-icon"
          [class.red]="month.change < 0"
          [class.green]="month.change > 0"
          [innerHtml]="month.trendIcon"
        ></span>
      </p>
      <p><b>MSPR:</b> {{ month.mspr }}</p>
    </div>
  </div>
</div>

<div class="card" *ngIf="isLoading">Loading...</div>

<div class="card" *ngIf="errorMsg">
  {{ errorMsg }}
</div>

<button>
  <a id="backBtn" routerLink="/" routerLinkActive="active"
    >Back to list of stocks</a
  >
</button>
